---
import Layout from "../layouts/Layout.astro";
---

<Layout title="header">
  <header class="flex h-[80px] w-full items-center justify-between">
    <h1 class="header__title text-accent text-2xl ml-[100px]">Pav.Maks.</h1>
    <ul class="header__list flex gap-[70px] mr-[100px]">
      <li>About</li>
      <li>Skills</li>
      <li>Experience</li>
      <li>Projects</li>
      <li>Contact</li>
    </ul>
  </header>
</Layout>

<style scoped>
  header {
    box-shadow: 0 4px 15px 2px rgba(61, 86, 247, 0.45);
  }

  .header__title {
    text-shadow: inset 1px 1px 3px 0 rgba(246, 246, 246, 0.3);
  }
</style>
