---
import Layout from "../layouts/Layout.astro";
---

<Layout title="header">
  <header class="flex h-[80px] w-full items-center justify-between">
    <h1 class="header__title text-accent text-2xl ml-[100px]">Pav.Maks.</h1>
    <ul class="header__list flex gap-[70px] mr-[100px]">
      <li>About</li>
      <li>Skills</li>
      <li>Experience</li>
      <li>Projects</li>
      <li>Contact</li>
    </ul>
  </header>
</Layout>

<style scoped>
  header {
    border-bottom: 1px solid ;
  }
</style>
