---
import Layout from "../layouts/Layout.astro";
---

<Layout title="info">
  <div class="flex min-w-[1070px] mt-[80px] gap-11">
    <img src="" alt="" class="w-[371px] h-[413px] rounded-lg" />
    <div class="info__content flex flex-col mt-[85px]">
      <h1 class="info__title">Software Engineer</h1>
      <h2 class="info__description text-lg">
        Hello! My name is Pavel Maksimovich. I'm a masturbator programmer. I
        need money.
      </h2>
      <div class="info__button">
        <button></button>
        <i></i>
        <i></i>
      </div>
    </div>
  </div>
</Layout>

<style scoped lang="scss">
  .info__title {
    color: #222;

    text-shadow: 2px 2px 3px 0 rgba(241, 241, 241, 0.3);

    font-weight: 900;
    font-size: 70px;
    letter-spacing: 0;
    font-family: var(--second-family);
  }

  .info__content {
    gap: 25px;
  }
</style>
