:root {
  $accent: #3d56f7;
  $accent-light: 224, 204, 250;
  $accent-dark: 49, 10, 101;
  $accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    rgb(var(--accent-light)) 30%,
    white 60%
  );
  $font-family: "Zen Maru Gothic", sans-serif;
  $second-family: url("../assets/fonts/UniNeue-Trial.ttf");
  $third-family: "Bakemono Stereo Trial", sans-serif;
  $font3: "Mona Sans", sans-serif;
}

@font-face {
  font-family: "Uni-Neue";
  src: url("../fonts/Uni.woff") format("woff");
}
